@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
     
* {
  box-sizing: border-box;
}
 
body {
  max-width: 90%;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  margin-inline: auto;
  align-items: center;
  background-color: #d7f1f0;
  display: flex;
  flex-direction: column;
}

header {
  display: inline;
}
 
header.navbar-container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo img {
  width: 150px;
}
td:hover{
  background: #54d0e3;
}
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #109bcd;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
  position: sticky;
}


header.navbar-container .nav-list li:hover a {
  background-color: #3dcae0;
  color: rgb(255, 255, 255);
}
 
main {
  display: flex;
  gap: 1.5rem;
}



#content {
  flex: 5;
 
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}
 
aside {
  flex: 1;
}
 
h2 {
  color: #109bcd;
}
 
h3 {
  color: #109bcd;
}
.tombol {
  background-color: #109bcd00;
  color: white;
  padding: 6px;
  font-size: 6px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f100;
  font-size: 100px;
  min-width: 100%;
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  width: 200%;
  height: 60%;
  color: rgba(251, 245, 245, 0);
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #dddddd00;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .tombol {background-color: #109bcd00;}

footer {
  padding: 20px;
  color: #fff;
  background-color: #109bcd;
}
main .social-media {
  height: 100%;
  display: inline;
}
 
main .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
 
  display: inline;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
 
main .social-media li {
  list-style-type: none;
  display: inline;

}
 
main .social-media li a {
  text-decoration: none;
  font-size: 3rem;
  color: #109bcd;
  transition: all .1s ease-in-out;
}
 
main .social-media li a:hover {
  color: #89b0d9;
}
 
.profile header {
  background-color: #ffffff;
  text-align: center;
}
 
.featured-image {
  width: 100%;
  max-height: 300px;
 
  object-fit: cover;
  object-position: center;
}
 
.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
 
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
 
  main aside {
    align-self: center;
  }
}
 
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
 
  main aside {
    align-self: stretch;
  }
}